
// global.scss

// Reset some default browser styles
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  // Set the height of the body to 100% of the viewport
  body {
    height: 100vh;
  }
  
  // Other global styles...
  